services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      # init.sql will be executed at the first time the container is started
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  pgdata:
